// Navbar module
.navbar {
  padding: 1.5rem 0;
  &__item {
    text-decoration: none;
  }

  &__item--active {
    font-weight: 700;
  }

  > .row {
    width: 100%;
  }

  h1 {
    margin: 0;
    font-weight: 100;
    text-shadow: 1px 1px #000;
  }
}
